.k-context-menu
{
    max-width: 260px;
    position: absolute;
    display: none;

    z-index: 9999;
}

div.k-menu-vertical > .k-item
{
    display: block;
    float: none;
    border-width: 0;
}

.k-context-menu .k-item > .k-link
{
    padding: 0.5em 1.3em 0.4em 0.9em;
}